<h2 class="league-name">{{league.name}}</h2>

<p>Start: {{league.start}}</p>
<p>End: {{league.end}}</p>
<p>Order: {{league.order}}</p>
<p>Organization: {{league.organization.name}}</p>
<p>Activity: {{league.activity.name}}</p>
<p>Number of teams: {{league.teams.length}}</p>
<p>Number of gameweeks: {{league.gameweeks.length}}</p>
