<h2 class="league-name">{{league.name}}</h2>

<p>Organization: {{league.organization.name}}</p>
<p>Activity: {{league.activity.name}}</p>

<p>Start date: {{league.start}}</p>
<p>End date: {{league.end}}</p>
<p>Order: {{league.order}}</p>

{{team-list teams=league.teams}}
{{#link-to "league.add-team" league}}Add team{{/link-to}}
{{#link-to "league.remove-team" league}}Remove team{{/link-to}}

{{game-list players=league.games}}
{{#link-to "league.add-game" league}}Add game{{/link-to}}
{{#link-to "league.remove-game" league}}Remove game{{/link-to}}
